@import "tailwindcss";


/* Base styles for preventing layout shifts */
html, body {
  overflow-x: hidden;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

/* Prevent content jumping when scrollbar appears/disappears */
@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
